<div class="container-fluid">
  <home></home>

  <div class="row">
      <div class="col-md-2">
      </div>
    <div class="col-md-8">
      <div class="well"> 
          <form class="data-form" [formGroup]="form" (ngSubmit)="saveForm()">
              <div class="form-group">
                  <label for="orderNo">Order No.</label>
                  <input formControlName="orderNo" id="orderNo" [(ngModel)]="order.orderNo" type="text" class="form-control"
                  />
                  <div *ngIf="orderNo.touched && orderNo.invalid" class="alert alert-danger">
                    <div *ngIf="orderNo.errors.required">Please enter order number.</div>
                  </div>
              </div>

              <div class="form-group">
                  <label for="orderDate">Order Date.</label>
                  <my-date-picker formControlName="orderDate" id="orderDate" [(ngModel)]="order.orderDate" type="date" style="border-left: none"  [options]="myDatePickerOptions"></my-date-picker>
                  <div *ngIf="orderDate.touched && orderDate.invalid" class="alert alert-danger">
                    <div *ngIf="orderDate.errors.required">Please enter order date.</div>
                  </div>
              </div>

              <div class="form-group">
                  <label for="job">Job</label>
                  <select id="job" class="form-control" formControlName="job" [(ngModel)]="selectedJob">
                    <option *ngFor="let job of topLevelJobs" [ngValue]="job">{{job.jobName}}</option>
                  </select>
                </div>

              <div class="form-group">
                  <label for="orderDescription">Order Description.</label>
                  <input formControlName="orderDescription" id="orderDescription" [(ngModel)]="order.orderDescription" type="text" class="form-control"
                  />
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Save</button>
                </div>
                <div class="col-sm-6">
                  <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
                  <button class="btn btn-block" (click)="cancelForm()">Cancel</button>
                </div>
              </div>
          </form>
      </div>
    </div>
    <div class="col-md-2">
      </div>
  </div>
</div>