<div class="container-fluid">
  <home></home>
  <div class="row"> 
    <div class="col-sm-2">
      <button class="btn btn-primary btn-block" (click)="showSelector()">Add Work Order</button>
    </div>
   <!--  <div class="col-sm-2"> 
      <button class="btn btn-primary btn-block" (click)="saveWOPlan()">Save Plan</button>
    </div> -->
  </div>
  <div class="row" style="margin-top: 10px;">
    <p-schedule  [height]=500 [events]="woEvents" [header]="header" [eventLimit]="4" [editable]="true" [slotEventOverlap]="false"
      (onEventClick)="handleEventClick($event)" [slotDuration]="slot" (onViewRender)="dateRangeChanged($event)"
      (onEventResize)="changeEventDuration($event)" (onEventDrop)="changeEventDuration($event)">  </p-schedule>
  </div>
  <p-dialog header="Title" [(visible)]="showWOSelector" [width]="800"  [modal] = "true"  [showHeader] = "false"  header="Select Work Order">
    <workorder-selector [InitializeObject] = "initializeFlag" (onCancel)="hideWOSelector()" (onSelect)="selectWO($event)"></workorder-selector>
  </p-dialog>
</div>
