<div class="container-fluid">
    <home></home>
    <div class='panel panel-primary'>
        <div class='panel-heading' style="height: 60px">
            {{pageTitle}}
            <form class="form-inline pull-right">
                <button class="btn btn-default" (click)="newEmployee()">New</button>
                <button class="btn btn-danger" (click)="deleteEmployees()">Delete</button>
            </form>
        </div>


        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-4'>
                    <form class="form-inline">
                        <input type="text" name="search" class="form-control" placeholder="Search" [ngModel]='listFilter' (ngModelChange)="filterRecords($event)">
                        <!-- <button class="btn btn-default" (click)="filterRecords()">Search</button> -->
                    </form>
                </div>
            </div><br>
            <div class='table-responsive'>
                <table class='table table-hover'>
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-4" (click)="sort('firstName')">First Name
                                <span class="glyphicon sort-icon" *ngIf="key =='firstName'" [ngClass]="{'glyphicon-sort-by-attributes':!reverse,'glyphicon-sort-by-attributes-alt':reverse}"></span>
                            </th>
                            <th class="col-md-3" (click)="sort('lastName')">Last Name
                                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-sort-by-attributes':!reverse,'glyphicon-sort-by-attributes-alt':reverse}"></span>
                            </th>
                            <th class="col-md-4" (click)="sort('designation')">Designation
                                <span class="glyphicon sort-icon" *ngIf="key =='designation'" [ngClass]="{'glyphicon-sort-by-attributes':!reverse,'glyphicon-sort-by-attributes-alt':reverse}"></span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of pagedItems | orderBy: key : reverse"> 
                            <td>
                                <input type="checkbox" id="delSel" value="1" (change)="selectedItem(employee,$event)" /> </td>
                            <td>
                                <a [routerLink]="['/employee', employee.id]">{{employee.firstName}}</a>
                            </td>
                            <td>{{employee.lastName}}</td>
                            <td>{{employee.designation}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="panel-footer clearfix">

            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>

    </div>
</div>