<div class="container-fluid">
  <home></home>

  <div class="row">
      <div class="col-sm-4">
          <assembly-selector (ItemSelected)="addAssembly($event)"></assembly-selector>
        </div>
    <div class="col-sm-8">
      <div class="well">

        <form class="data-form" [formGroup]="form" (ngSubmit)="saveForm()">
          <div class="form-group">
            <label for="machineName">Machine Name</label>
            <input formControlName="machineName" id="machineName" [(ngModel)]="machine.machineName" type="text" class="form-control"
            />
            <div *ngIf="machineName.touched && machineName.invalid" class="alert alert-danger">
              <div *ngIf="machineName.errors.required">Please enter Machine Name.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="modelNo">Model No.</label>
                <input formControlName="modelNo" id="modelNo" [(ngModel)]="machine.modelNo" type="text" class="form-control" />
                <div *ngIf="modelNo.touched && modelNo.invalid" class="alert alert-danger">
                  <div *ngIf="modelNo.errors.required">Please enter Model No.</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="category">Category</label>
                <select id="category" class="form-control" formControlName="machineCategory" [(ngModel)]="selectedMachineCategory">
                  <option *ngFor="let category of machineCategories" [ngValue]="category">{{category.categoryName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="installationType">Installation Type</label>
                <select id="installationType" class="form-control" formControlName="installationType" [(ngModel)]="machine.installationType">
                  <option>Free Standing</option>
                  <option>Table Top</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="orientation">Orientation</label>
                <select id="orientation" class="form-control" formControlName="orientation" [(ngModel)]="machine.orientation">
                  <option selected>Horizontal</option>
                  <option>Vertical</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">

              <div class="form-group">
                <label for="shape">Shape</label>
                <select id="shape" class="form-control" formControlName="shape" [(ngModel)]="machine.shape">
                  <option selected>Cylindrical</option>
                  <option>Rectangular</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="doorType">Door</label>
                <select id="doorType" class="form-control" formControlName="doorType" [(ngModel)]="machine.doorType">
                  <option selected>Single manual door</option>
                  <option>Two manual doors</option>
                  <option>Single manual hinged door</option>
                  <option>Two manual hinged doors</option>
                  <option>Single auto. vertical sliding door</option>
                  <option>Single auto. horizontal sliding door</option>
                  <option>Two auto. vertical sliding doors</option>
                  <option>Two auto. horizontal Sliding doors</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="machinetype">Type</label>
                <select id="machinetype" class="form-control" formControlName="machineType" [(ngModel)]="machine.machineType">
                  <option selected>Manual</option>
                  <option>Automatic</option>
                </select>
              </div>
            </div>
          </div>

          <div class='panel panel-primary'>
              <div class='panel-body'>
                <div class='table tab-pane'>
                  <table class='table table-hover'>
                    <thead>
                      <tr>
                        <th class="col-md-9">Assembly</th>
                        <th class="col-md-2">Qty</th>
                        <th class="col-md-1"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subAssembly of machine.machineAssemblies">
                        <td>{{subAssembly.assemblyName}}</td>
                        <td>{{subAssembly.qty}}</td>
                        <td>
                          <button class="btn btn-danger btn-xs" (click)="removeSubAssembly(subAssembly)">
                            <span class="glyphicon glyphicon-minus"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Save</button>
            </div>
            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <button class="btn btn-block" (click)="cancelForm()">Cancel</button>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
