<div class="container-fluid">
    <home></home>
    <div class='panel panel-primary'>
        <div class='panel-heading' style="height: 60px">
            {{pageTitle}}

            <form class="form-inline pull-right">

                <button class="btn btn-default" (click)="newMachine()">New</button>
                <button class="btn btn-danger" (click)="deleteMachine()">Delete</button>
            </form>
        </div>




        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-4'>
                    <form class="form-inline">
                        <input type="text" name="search" class="form-control" placeholder="Search" [(ngModel)]='listFilter'>
                        <button class="btn btn-default" (click)="filterRecords()">Search</button>
                    </form>
                </div>
            </div>


            <div class='table-responsive'>
                <table class='table'>
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-2">Machine Sr. No.</th>
                            <th class="col-md-2">Orientation</th>
                            <th class="col-md-2">Shape</th>
                            <th class="col-md-3">Door</th>
                            <th class="col-md-2">Auto / Manual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let machine of pagedItems">
                            <td>
                                <input type="checkbox" id="delSel" value="1" (change)="selectedItem(machine,$event)"/> </td>
                            <td>
                                <a href="">{{machine.machineSrNo}}</a>
                            </td>
                            <td>{{machine.orientation}}</td>
                            <td>{{machine.shape}}</td>
                            <td>{{machine.doorType}}</td>
                            <td>{{machine.machineType}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="panel-footer clearfix">

            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>

    </div>
</div>