<div class="container-fluid">
  <home></home>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class='col-md-4'>
          <label>Order No.</label> {{order.orderNo}}
        </div>
        <div class='col-md-3'>
          <label>Order Date </label> {{order.orderDate}}
        </div>
        <div class='col-md-3'>
          <label>Job</label> {{jobName}}
        </div>
        <div class='col-md-2'>
          <button class="btn btn-success" (click)="saveForm()" >Save</button>
          <button class="btn btn-warning" (click)="cancelForm()" >Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">Employees</div>
        <div class="panel-body yscrollable">
          <ul class='list-group'>
            <li draggable *ngFor="let emp of employees" [dragData]="emp" class="list-group-item">{{emp.firstName}} {{emp.lastName}} </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="container">
        <table>
          <!-- <thead>
                  <tr>
                      <th *ngFor="let project of arProjects" style="width:2000px" >
                        
                      </th>    
                  </tr>
              </thead> -->
          <tbody>
            <tr>
              <td *ngFor="let project of arProjects">
                <div class='panel panel-default' style="height:400px; width:200px">
                  <div class="panel-heading">
                    {{project.jobName | summary:25}}
                  </div>
                  <div class="panel-body yscrollable" droppable [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'" (onDrop)="assignEmployee($event,project)">
                    <ul class='list-group' style="height:300px">
                      <li class="list-group-item" *ngFor="let emp of project.employee">{{emp.firstName}} {{emp.lastName}} <button class="btn btn-xs btn-warning pull-right" (click)="removeEmployee(project,emp)" >X</button> </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>