<div class="container-fluid">
  <home></home>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class='col-md-2'>
          <label>Work Order No.</label> {{workOrder.workOrderNo}}
        </div>
        <div class='col-md-2'>
          <label>Order No.</label> {{workOrder.orderNo}}
        </div>
        <div class='col-md-3'>
          <label>Order Date </label> {{workOrder.orderDate}}
        </div>
        <div class='col-md-3'>
          <label>Job</label> {{jobName}}
        </div>
        <div class='col-md-2'>
          <button class="btn btn-success" (click)="saveForm()">Save</button>
          <button class="btn btn-warning" (click)="cancelForm()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default" style="height:445px;">
        <div class="panel-heading">Employees</div>
        <div class="panel-body yscrollable" style=" height:400px;">
          <ul class='list-group'>
            <li draggable *ngFor="let emp of employees" [dragScope]="emp.designation" [dragData]="emp" class="list-group-item">{{emp.firstName}} {{emp.lastName}} ({{emp.designation}}) </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="container">
        <table>
          <!-- <thead>
                  <tr>
                      <th *ngFor="let project of arProjects" style="width:2000px" >
                        
                      </th>    
                  </tr>
              </thead> -->
          <tbody>
            <tr>
              <td *ngFor="let projectElement of arProjects">
                <div class='panel panel-default' style="height:425px; width:300px">
                  <div class="panel-heading">
                    {{projectElement.jobName | summary:40}} <br>
                        <div style="height:5px"></div>
                        <label>Start Date Time</label><br>
                        <owl-date-time [autoClose]="true" [(ngModel)]="projectElement.startDateTime" [dateFormat]="'DD/MM/YYYY HH:mm'" [placeHolder]="'dd/MM/yyyy HH:mm'" [dataType]="'string'"></owl-date-time> <br>
                        <label style="margin-top:5px">End Date Time</label><br>
                        <owl-date-time [autoClose]="true" [(ngModel)]="projectElement.startDateTime" [dateFormat]="'DD/MM/YYYY HH:mm'" [placeHolder]="'dd/MM/yyyy HH:mm'" [dataType]="'string'"></owl-date-time>
                   
                  </div>
                  
                  <div class="panel-body"  [dropScope]="projectElement.jobDesignations" droppable [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'" (onDrop)="assignEmployee($event,projectElement)">
                    <div class="yscrollable task-employees-panel">
                    <ul class='list-group' >
                      <li class="list-group-item" *ngFor="let emp of projectElement.employee">{{emp.firstName}} {{emp.lastName}}
                        <button class="btn btn-xs btn-warning pull-right" (click)="removeEmployee(projectElement,emp)">X</button>
                      </li>
                    </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>