<div class="container-fluid">
  <home></home>
  <div class="row">
    <!-- <div class="col-sm-2"></div> -->
    <div class="col-sm-8">
      <div class="well">
        <form class="data-form" [formGroup]="form" (ngSubmit)="saveForm()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName"
                formControlName="firstName"
                [(ngModel)] = "employee.firstName" 
                type="text" 
                class="form-control" />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" 
                formControlName="lastName"
                [(ngModel)] = "employee.lastName"
                type="text" 
                class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="designation">Designation</label>
            <select id="designation" 
            formControlName="designation"
            [(ngModel)] = "selectedDesignation" 
            class="form-control">
              <option *ngFor="let designation of designations" [ngValue]="designation">{{designation.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="username">User Name</label>
            <input id="username" 
            formControlName="username"
            [(ngModel)] = "employee.username"
            type="text" 
            class="form-control" />
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" 
                type="password" 
                formControlName="password"
                [(ngModel)] = "employee.password"
                class="form-control" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">

                <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" type="password" class="form-control" />
              </div>
            </div>
          </div>

         <!--  <div class="panel panel-primary">
            <div class="panel-heading">Skills</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Fitter</div>
                    <div class="panel-body">
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="marking"
                        [(ngModel)] = "employee.marking"
                        id="marking"> Marking
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="cuttingShearing"
                        [(ngModel)] = "employee.cuttingShearing"
                        id="cuttingShearing"> Cutting/shearing
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="sheetBending"
                        [(ngModel)] = "employee.sheetBending"
                        id="sheetBending"> Sheet bending
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="pipeBending"
                        [(ngModel)] = "employee.pipeBending"
                        id="pipeBending"> Pipe bending
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="straightening"
                        [(ngModel)] = "employee.straightening"
                        id="straightening"> Straightening
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="gauging"
                        [(ngModel)] = "employee.gauging"
                        id="gauging"> Gauging
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="pipeFitting"
                        [(ngModel)] = "employee.pipeFitting"
                        id="pipeFitting"> Pipe fitting
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="insulation"
                        [(ngModel)] = "employee.insulation"
                        id="insulation"> Insulation
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="testing"
                        [(ngModel)] = "employee.testing"
                        id="testing"> Testing
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="fittingAssembly"
                        [(ngModel)] = "employee.fittingAssembly"
                        id="fittingAssembly"> Fitting/Assembly
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Welder</div>
                    <div class="panel-body">
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="filletWeld"
                        [(ngModel)] = "employee.filletWeld"
                        id="filletWeld"> Fillet weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="buttWeld"
                        [(ngModel)] = "employee.buttWeld"
                        id="buttWeld"> Butt weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="rootWeld"
                        [(ngModel)] = "employee.rootWeld"
                        id="rootWeld"> Root weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="backChipping"
                        [(ngModel)] = "employee.backChipping"
                        id="backChipping"> Back Chipping
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="tagWeld"
                        [(ngModel)] = "employee.tagWeld"
                        id="tagWeld"> Tag Weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="edgeWeld"
                        [(ngModel)] = "employee.edgeWeld"
                        id="edgeWeld"> Edge Weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="pipeWeld"
                        [(ngModel)] = "employee.pipeWeld"
                        id="pipeWeld"> Pipe Weld
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Helper</div>
                    <div class="panel-body">
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="cleaning"
                        [(ngModel)] = "employee.cleaning"
                        id="cleaning"> Cleaning
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="packing"
                        [(ngModel)] = "employee.packing"
                        id="packing"> Packing
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="handling"
                        [(ngModel)] = "employee.handling"
                        id="handling"> Handling
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="filing"
                        [(ngModel)] = "employee.filing"
                        id="filing"> Filing
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="grinding"
                        [(ngModel)] = "employee.grinding"
                        id="grinding"> Grinding
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="drilling"
                        [(ngModel)] = "employee.drilling"
                        id="drilling"> Drilling
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="tapping"
                        [(ngModel)] = "employee.tapping"
                        id="tapping"> Tapping
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="hacksawCutting"
                        [(ngModel)] = "employee.hacksawCutting"
                        id="hacksawCutting"> Hack-saw cutting
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="painting"
                        [(ngModel)] = "employee.painting"
                        id="painting"> Painting
                      </div>
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="helperTagWeld"
                        [(ngModel)] = "employee.helperTagWeld"
                        id="helperTagWeld"> Tag weld
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Buffer</div>
                    <div class="panel-body">
                      <div class="form-check">
                        <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="buffer"
                        [(ngModel)] = "employee.buffer"
                        id="buffer"> Buffer
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div> -->

          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-primary btn-block" [disabled]="!form.valid">Save</button>
            </div>
            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <button class="btn btn-block" (click)="cancelForm()">Cancel</button>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>