<div class="container-fluid">
  <home></home>
  <div class="row">
    <!-- <div class="col-sm-2"></div> -->
    <div class="col-sm-8">
      <div class="well">
        <form class="data-form" [formGroup]="form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" class="form-control" />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="firstName" type="text" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="designation">Designation</label>
            <select id="designation" class="form-control">

            </select>
          </div>
          <div class="form-group">
            <label for="username">User Name</label>
            <input id="username" type="text" class="form-control" />
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">

                <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" type="password" class="form-control" />
              </div>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">Skills</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Fitter</div>
                    <div class="panel-body">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="marking"> Marking
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cuttingShearing"> Cutting/shearing
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="sheetBending"> Sheet bending
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pipeBending"> Pipe bending
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="straightening"> Straightening
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="gauging"> Gauging
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pipeFitting"> Pipe fitting
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="insulation"> Insulation
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="testing"> Testing
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="fittingAssembly"> Fitting/Assembly
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Welder</div>
                    <div class="panel-body">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="filletWeld"> Fillet weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="buttWeld"> Butt weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="rootWeld"> Root weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="backchipping"> Back Chipping
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="tagWeld"> Tag Weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="edgeWeld"> Edge Weld
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pipeWeld"> Pipe Weld
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Helper</div>
                    <div class="panel-body">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cleaning"> Cleaning
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="packing"> Packing
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="handling"> Handling
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="filing"> Filing
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="grinding"> Grinding
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="drilling"> Drilling
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="tapping"> Tapping
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="hacksawCutting"> Hack-saw cutting
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="painting"> Painting
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="helperTagWeld"> Tag weld
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Buffer</div>
                    <div class="panel-body">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="buffer"> Buffer
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-primary btn-block">Save</button>
            </div>
            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <button class="btn btn-block">Cancel</button>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>