<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }">
</ngx-loading> -->

<div class="container-fluid">
  <home></home>
  <div class="row">
    <!-- <div class="col-sm-2"></div> -->
    <div class="col-sm-8">
      <div class="well">
        <form class="data-form" [formGroup]="form" >
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName"
                formControlName="firstName"
                [(ngModel)] = "employee.firstName" 
                type="text" 
                class="form-control" />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" 
                formControlName="lastName"
                [(ngModel)] = "employee.lastName"
                type="text" 
                class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="designation">Designation</label>
            <select id="designation" 
            formControlName="designation"
            [(ngModel)] = "selectedDesignation"  
            class="form-control">
              <option *ngFor="let designation of designations" [ngValue]="designation">{{designation.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="username">User Name</label>
            <input id="username" 
            formControlName="username"
            [(ngModel)] = "employee.username"
            type="text" 
            class="form-control" />
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" 
                type="password" 
                formControlName="password"
                [(ngModel)] = "employee.password"
                class="form-control" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">

                <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" type="password" class="form-control" />
              </div>
            </div>
          </div>

      
          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-primary btn-block" [disabled]="!form.valid" (click)="saveForm()">Save</button>
            </div>
            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <button class="btn btn-block" (click)="cancelForm()">Cancel</button>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>