
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }">
</ngx-loading>

<div class="container-fluid">
    <home></home>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class='panel panel-primary'>
                <div class='panel-heading' style="height: 40px">
                  Designations
                </div>
                <div class='panel-body'>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input id="title" type="text" 
                          class="form-control"
                          name="title"
                          [(ngModel)]='title' />
            
                          <button class="btn btn-primary" (click)="addOrUpdateTitle()">Add</button>
                          <button class="btn btn-default" (click)="clearTitlePanel()">Clear</button>
                        </div>
                      </form> 
                      <br>
                      <div class='table-responsive'>
                        <table class='table table-hover'>
                          <tbody>
                            <tr>
                              <td>
                                <input type="text" name="searchTitle" 
                                  class="form-control" 
                                  placeholder="Search"
                                  [ngModel]='titleListFilter' 
                                  (ngModelChange)="filterTitleRecords($event)">
                              </td>
                            </tr>
                            <tr *ngFor="let designation of titlePagedItems">
                              <td class="col-md-11" (click)="setSelectedTitle(designation)">
                                {{designation.title}}
                              </td>
                              <td>
                                <button class="btn btn-danger" (click)="deleteTitle(designation)">Delete</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
                <div class="panel-footer clearfix list-footer">
                    <ul *ngIf="titlePager.pages && titlePager.pages.length" class="pagination">
                      <li [ngClass]="{disabled:titlePager.currentPage === 1}">
                        <a (click)="setTitlesPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:titlePager.currentPage === 1}">
                        <a (click)="setTitlesPage(titlePager.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of titlePager.pages" [ngClass]="{active:titlePager.currentPage === page}">
                        <a (click)="setTitlesPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:titlePager.currentPage === titlePager.totalPages}">
                        <a (click)="setTitlesPage(titlePager.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:titlePager.currentPage === titlePager.totalPages}">
                        <a (click)="setTitlesPage(titlePager.totalPages)">Last</a>
                      </li>
                    </ul>
                  </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
