th {
  cursor: pointer;
}

.panel-footer {
  padding: 0 15px;
  height: 20%;
  line-height: 0px;
  text-align: center;
}

td.hoverbutton>button {
  visibility: hidden;
}

tr:hover>td>button {
  visibility: visible;
}
