<div class="container-fluid">
  <home></home>

  <div class='panel panel-primary'> 
    <div class='panel-heading' style="height: 60px">
      Work Orders

      <form class="form-inline pull-right">

        <button class="btn btn-default" (click)="newWorkOrder()">New</button>
        <button class="btn btn-danger" (click)="deleteWorkOrder()">Delete</button>
      </form>
    </div>

    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-4'>
          <form class="form-inline">
            <input type="text" name="search" class="form-control" placeholder="Search" [ngModel]='listFilter' (ngModelChange)="filterRecords($event)">
            <!-- <button class="btn btn-default" (click)="filterRecords()">Search</button> -->
          </form>
        </div>
      </div>

      <div class='table-responsive'>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-2" (click)="sort('workOrderNo')">Work Order No.
                <span class="glyphicon sort-icon" *ngIf="key =='workOrderNo'" [ngClass]="{'glyphicon-sort-by-attributes':!reverse,'glyphicon-sort-by-attributes-alt':reverse}"></span>
              </th>
              <th class="col-md-2" (click)="sort('workOrderDate')">Date
                <span class="glyphicon sort-icon" *ngIf="key =='workOrderDate'" [ngClass]="{'glyphicon-sort-by-attributes':!reverse,'glyphicon-sort-by-attributes-alt':reverse}"></span>
              </th>
              <th class="col-md-2" (click)="sort('assemblyName')">Assembly
                <span class="glyphicon sort-icon" *ngIf="key =='assemblyName'" [ngClass]="{'glyphicon-sort-by-attributes':!reverse,'glyphicon-sort-by-attributes-alt':reverse}"></span>
              </th>
              <th class="col-md-2" (click)="sort('machineName')">Machine
                <span class="glyphicon sort-icon" *ngIf="key =='machineName'" [ngClass]="{'glyphicon-sort-by-attributes':!reverse,'glyphicon-sort-by-attributes-alt':reverse}"></span>
              </th>
              <th class="col-md-2" (click)="sort('qty')">Qty
                <span class="glyphicon sort-icon" *ngIf="key =='qty'" [ngClass]="{'glyphicon-sort-by-attributes':!reverse,'glyphicon-sort-by-attributes-alt':reverse}"></span>
              </th>
              <th class="col-md-1">Team</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let workorder of pagedItems | orderBy: key : reverse">
              <td>
                <input type="checkbox" id="delSel" value="1" (change)="selectedItem(workorder,$event)" /> </td>
              <td>
                <a [routerLink]="['/workorder', workorder.id]">{{workorder.workOrderNo}}</a>
              </td>
              <td>{{workorder.workOrderDate}}</td>
              <td>{{workorder.assemblyName}}</td>
              <td>{{workorder.machineName}}</td>
              <td>{{workorder.qty}}</td>
              <td class="hoverbutton">
                <button type="button" class="btn btn-warning" (click)="openWOTeam(workorder.id)" >
                  <i class="fa fa-users" aria-hidden="true"></i>
                </button>
            </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="panel-footer clearfix list-footer">

      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div>
