<div class="container-fluid">
  <home></home>

  <div class="row">
    <div class="col-md-4">
      <div class='panel panel-primary'>
        <div class='panel-heading' style="height: 30px">
          <form class="form-inline pull-right" style="margin-top: -5px">

            <button class="btn btn-success btn-xs" (click)="newTopJob()">New job</button>
            <button class="btn btn-success btn-xs" (click)="newChildJob()">New sub job </button>
            <button class="btn btn-danger btn-xs" (click)="deleteJob()">Delete</button>
          </form>
        </div>
        <div class='panel-body'>
          <div class="tree-pane">
            <tree-root #tree [nodes]="nodes" (activate)="clickNode($event)"></tree-root>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well" [hidden]="formHidden">
        <form class="data-form" [formGroup]="form" (ngSubmit)="saveForm()">
          <div class="form-group">
            <label for="jobName">Job Name</label>
            <input formControlName="jobName" id="jobName" type="text" class="form-control" [(ngModel)]="job.jobName" />
            <div *ngIf="jobName.touched && jobName.invalid" class="alert alert-danger">
              <div *ngIf="jobName.errors.required">Please enter job name.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="machine">Machine</label>
            <select id="machine" class="form-control" formControlName="machine" [(ngModel)]="selectedMachine">
              <option *ngFor="let machine of machines" [ngValue]="machine">{{machine.modelNo}} - {{machine.machineName}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="jobDescription">Job Description</label>
            <textarea formControlName="jobDescription" id="jobDescription" type="text" class="form-control" style="resize: none" [(ngModel)]="job.jobDescription"></textarea>
          </div>

          <div class="form-group">
            <label for="parentJob">Parent Job</label>
            <input formControlName="parentJob" id="parentJob" type="text" class="form-control" />
            <input formControlName="parentJobId" id="parentJobId" type="hidden" class="form-control" [(ngModel)]="job.parentJobId" />
          </div>

          <label>Designations</label>
          <div class="tab-pane">
            <div formArrayName="designations" class="noBorder">
              <!-- *ngFor="let designation of designations.controls; let i=index"> -->
              <!--<div [formGroupName]="i" class="noBorder">-->
              <div class="form-group" *ngFor="let position of designationList; let i=index">
                <div formGroupName="{{i}}" class="noBorder" style="height: 10px">
                  <div class="checkbox">
                    <label>
                      <input formControlName="{{position.title}}" type="checkbox" id="{{'designation' + i}}" /> {{position.title}} </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--</div>-->


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="jobSequenceNo">Sequence No</label>
                <input formControlName="jobSequenceNo" id="jobSequenceNo" type="text" class="form-control" [(ngModel)]="job.jobSequenceNo"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="durationInMins">Duration (in mins)</label>
                <input formControlName="durationInMins" id="durationInMins" type="text" class="form-control" [(ngModel)]="job.durationInMins"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-primary btn-block" [disabled]="!form.valid">Save</button>
            </div>
            <div class="col-sm-6">
              <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
              <button class="btn btn-block" (click)="cancelForm()">Cancel</button>
            </div>
          </div>
           <!-- <pre>{{form.value | json}}</pre>  -->
        </form>
      </div>
    </div>
  </div>
</div>