.tree-pane{
    height:480px;
    
    width:100%;
  }

  .noBorder{
    border-left:none;
  }

  .tab-pane{
    height:300px;
    overflow-y:scroll;
    width:200px;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    padding: 5px;
  }